<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @quote_item.quote_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @quote_item.product_id %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @quote_item.cost %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @quote_item.quantity %>
</p>

<%= link_to 'Edit', edit_quote_item_path(@quote_item) %> |
<%= link_to 'Back', quote_items_path %>
